<div class="row">
  <div class="img-container">
    <div>
      <img class="emory-icon" src="assets/images/journey_default.svg" />
    </div>
    <div>
      <span class="label">My DBS Journey</span>
    </div>
  </div>
  <div class="img-container">
    <div>
      <img class="emory-icon" src="assets/images/library_default.svg" />
    </div>
    <div>
      <span class="label">DBS Library</span>
    </div>
  </div>
  <div class="img-container">
    <div>
      <img class="emory-icon" src="assets/images/team_default.svg" />
    </div>
    <div>
      <span class="label">Your Team</span>
    </div>
  </div>
  <div class="img-container">
    <div>
      <img class="emory-icon" src="assets/images/heart_default.svg" />
    </div>
    <div>
      <span class="label">Profile</span>
    </div>
  </div>
</div>
