<div class="container" (swipeLeft)="onSwipeLeft($event)"
(swipeRight)="onSwipeRight($event)">
    <div class="row">
      <div class="col-md-12">
        <!-- <h2 class="text-center text-dark mb-4">We Care Support</h2> -->
        <div class="row">
          <div class="col-md-6 mx-auto">
            <span class="anchor" id="formLogin"></span>

            <!-- form card login -->
            <div class="card border border-info">
              <div class="card-header bg-info text-white">
                <img class="timeline" src="assets/images/timelinewhole.svg" />
              </div>
              <div class="card-body">
                <div class="card-image">
                  <div>
                    <!-- <object id="object" type="image/svg+xml"> -->
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2124 3991.805 56 56">
                        <defs>
                          <style>
                            .cls-1 {
                              fill: #d0d0d0;
                            }

                            .cls-1, .cls-3 {
                              stroke: #95989a;
                              stroke-width: 3px;
                            }

                            .cls-2 {
                              fill: #fff;
                              font-size: 25px;
                              font-family: HelveticaNeue-Bold, Helvetica Neue;
                              font-weight: 700;
                            }

                            .cls-3 {
                              fill: #275a95;
                            }

                            .cls-4 {
                              stroke: none;
                            }

                            .cls-5 {
                              fill: none;
                            }
                          </style>
                        </defs>
                        <g id="Group_597" data-name="Group 597" transform="translate(-3043 3918.805)">
                          <g id="Ellipse_113" data-name="Ellipse 113" class="cls-1" transform="translate(919 73)">
                            <circle class="cls-4" cx="28" cy="28" r="28"/>
                            <circle class="cls-5" cx="28" cy="28" r="26.5"/>
                          </g>
                          <text id="_2" data-name="2" class="cls-2" transform="translate(940 111)"><tspan x="0" y="0">2</tspan></text>
                          <path id="Path_545" data-name="Path 545" class="cls-3" d="M28,1.5A26.5,26.5,0,1,1,1.5,28,26.5,26.5,0,0,1,28,1.5Z" transform="translate(919 73)"/>
                          <text id="_1" data-name="1" class="cls-2" transform="translate(940 111)"><tspan x="0" y="0">2</tspan></text>
                        </g>
                      </svg>
                    <!-- </object> -->

                    <!-- <object id="object" type="image/svg+xml" data="images/check.svg">
                    </object> -->


                  </div>
                  <div>
                    <span class="completed-text">completed 10/26/2016</span>
                  </div>
                </div>
                <div class="card-check">
                  <div class="desc-title">
                      <span class="desc-text">DBS pre-screening 2/2</span>
                  </div>
                  <div class="desc">
                    <span class="desc-1">Before surgery, you are doing some screening test for
                      surgery guidance.  This visit includes psychiatry, appointment, neuropsychological
                      assesment, MRI.  For accurate evaluation, we need to see you off-med minimum 12hr
                      in advance.
                    </span>
                  </div>
                  <div class="more-url">
                    <a href="">
                      <span class="url-more">
                        Learn more about test
                      </span>
                    </a>
                  </div>
                </div>

                <div class="middle-section">
                  <div class="calendar">
                      <img class="calendar-image" src="assets/images/calendar.svg" />
                      <span class="calendar-text">Date & Time: 10/22/2016 9AM</span>
                    </div>
                    <div class="map">
                      <img class="map-image" src="assets/images/map.svg" />
                      <div class="map-title">
                        <span class="map-text">Location: Brain Health Center</span>
                      </div>
                    </div>
                </div>
                <div class="lower-section">

                  <div class="d1-check">
                    <span class="d1-text">D-1 Check List</span>
                  </div>
                  <div class="cb-group">
                    <div class="cb">
                      <input id="c1" type="checkbox"/>
                      <label for="c1"><span class="desc-1">Stop taking PD med from midnight</span></label>
                    </div>
                    <div class="cb">
                      <input id="c2" type="checkbox"/>
                      <label for="c2"><span class="desc-1">Bring all medication and bottle</span></label>
                    </div>
                    <div class="cb">
                      <input id="c3" type="checkbox"/>
                      <label for="c3"><span class="desc-1">Complete questionaire</span></label>
                    </div>

                    <a href="home/discuss">&nbsp;&nbsp;</a>

                  </div>
                </div>
              </div>
              <!--/card-block-->
            </div>
            <!-- /form card login -->

          </div>


        </div>
        <!--/row-->

      </div>
      <!--/col-->
    </div>
    <!--/row-->
    <div style="position:  relative;height: 47px;top: -12px;">
      <app-footer></app-footer>
    </div>
  </div>
  <!--/container-->
